/* ================================================================================================ */
/* ================================================================================================ */
/*                                            NAVBAR                                                */

/* Width distribution (from left to right):

    At 1200px:
        nav-bar__logo:              270
        nav-bar__menu-container:    660
        nav-bar__side:              270

    At

*/

/* ----------------------------------------------------- */
/* NAV-BAR LAYOUT */

.nav-bar {
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif !important;
    background-color: white;
    position: relative;
    z-index: 3;
    
}

.nav-bar--border{

    border-bottom-style: solid;
    border-bottom-color: #b81d30;
    border-bottom-width: 3px;

}

.nav-bar__content {
    
    position: relative;
    width: 1200px;
    height: 115px;
    margin: auto;

}

.nav-bar__content--flex{

    display: flex;

}

.nav-bar__box-1 {
    width: 270px;
    height: inherit;
    
    display: flex;
    align-items: center;
}

.nav-bar__box-2{
    width: 660px;
    height: inherit;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-bar__box-3 {
    width: 270px;
    height: inherit;

    display: flex;
    justify-content: space-between;
}

/* ----------------------------------------------------- */
/* NAV-BAR__LOGO */

.nav-bar__logo{
    width: 100%;
}

/* ----------------------------------------------------- */
/* NAV-BAR__MENU */

.nav-bar__logo-anapi{
    height:60%;
    align-self: center;
}

.nav-bar__menu{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.nav-bar__menu--border{
    border-top-style: solid;
    border-width: 1px;
    border-color: lightgray;

}

.nav-bar__menu__item{    

    margin: 0px 1em;

    text-align: center;
    padding: 14px 16px;

    font-size: 0.9em;
    color: darkred;
    text-decoration: none;

}

.nav-bar__menu__item--hover:hover{    
    color: darkred;
    text-decoration: underline;
}

.nav-bar-mobile{
    display: none;
}

/* ----------------------------------------------------- */
/* NAV-BAR__PAOLA */

.nav-bar__presentation{
    
    font-size: 0.9em;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


.nav-bar__paola-img{

    margin-top: 5px;
    margin-bottom: 5px;

    clip-path: circle();
}


.nav-bar__presentation__header{

    width: 100%;
    margin: 10px 0px 0px 0px;
    
    border-bottom-style: solid;
    border-color: #292929;
    font-weight: bold;

}

.nav-bar__presentation__text{
    margin:4px;
    padding: 0px 3px 0px 3px;
    text-align: center;
    font-size: 14px;

}

/* ----------------------------------------------------- */
/* NAV-BAR__PAOLA */

/* ================================================================================================ */
/* ================================================================================================ */
/*                                          MEDIA QUERY                                             */
/* ================================================================================================ */
/* ================================================================================================ */

@media screen and (min-width: 769px) and (max-width: 1200px) {

    .nav-bar__logo-anapi{
        height: 0px;
    }
    
    .nav-bar__content{
        
        width: 768px;
    }

    .nav-bar__box-1{
        width: 274px;
    }

    .nav-bar__box-2{
        width: 470px;
        flex-direction: row;
    }

    .nav-bar__box-3{
        display: none;
    }

    .nav-bar__paola-img{
        width: 0px;
    }

    .nav-bar__menu__item{
        padding: 14px 0px;
    }

/*     .nav-bar__presentation__text{
        margin-top:11px;
        padding: 0 3px 0 3px;
        text-align: center;
        font-size: 14px;
    
    }

    .nav-bar__presentation__header{
        text-align: center;
    } */


}
@media screen and (max-width: 768px) {

    .nav-bar__logo-anapi{
        height: 0px;
    }

    .nav-bar{
        border: none;
        margin: 0px;
        padding: 0px;
    }

    .nav-bar__content{
        height: auto;
    }

    .nav-bar__content--flex{
        width: 100%;
        
        flex-direction: column;
        align-items: center;
    }

    .nav-bar__box-1{
        /* margin-top: 15px;
        width: 480px; */
        display: none;
    }

    .nav-bar__box-2{
        display: flex;
        position: relative;
        z-index: 5;
        background-color: green;
        height: auto;
        width: 100%;
    }

    .nav-bar__menu{
        position: absolute;
      
        display: grid;
        grid-template-columns: 1fr; 
        height: 0px;
        opacity: 0;

        z-index: 4;

        background-color: white;
        top:0px;
        width: 100%;

        border-bottom: #292929;
        border-bottom-style: solid;
        border-bottom-width: 8px;

        

        transition: height .5s ease-in-out, opacity .5s;
        
    }

    .nav-bar__menu.active{
        height: 300px;
        opacity: 1;
    }

    .nav-bar__menu__item{

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18;
        box-sizing: border-box;
        padding: 0px;
        margin:0px;
        font-weight: bold;

        width: 100%;
        border-top: solid;
        border-top-color: lightgray;
        border-top-width: 1px;
        
    }

    .nav-bar__box-3{
        /* width: 480px; */
        display: none;
    }

    .nav-bar-mobile{
        display: block;
        position: relative;

        background-color: darkred;
        height: 60px;
        width: 100%;
    }

    .nav-bar-mobile__text{
        height: 100%;
        width: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 5%;

        display: flex;
        align-items: center;
        
        color: white;
        font-weight: bolder;
        font-size: 28px;
        text-align: center;
        vertical-align: middle;
        padding: 0px;

    }

    .nav-bar-mobile__button{
        box-sizing: border-box;
        position: absolute;
        height: 100%;
        margin-right: 5%;
        right: 0px;
        top:0px;
        float:right;
        width: 64px;        
 /*        padding-left: 6px;
        padding-right: 6px; */
       /*  background-color: aqua; */
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
  

    }
    .nav-bar-mobile__button:active {
        background-color: lightgray;
    }

    .nav-bar-mobile__button__stripe{
        display: block;
        width: 80%;
        height: 12%;
    /*     margin-top: 16%;
        margin-bottom: 16%; */
        background-color: white;

        border-radius: 2px;
    }

    


   /*  .nav-bar__paola-img{
        width: 150px;
    }

    .nav-bar__presentation{
        width: 330px;
    }

    .nav-bar__presentation__header{
        font-size: 22px;
    }

    .nav-bar__presentation__text{
        width: 330px;
        padding: 0;
    } */


}

@media screen and (max-width: 480px) {}

