/* ================================================================================================ */
/* ================================================================================================ */
/*                                      TOP CONTACTS BAR                                            */

.top-bar{

    position: relative;
    width: 100%;
    height: auto;
    z-index: 4;

    display: flex;
    justify-content: center;    

    background-color: #292929;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9em;
    color: lightgray;
}

.top-bar__content{

    width: 1200px;
    height: 40px;

    display: flex;
    align-items: center;
}

.top-bar__p--padding{
    padding-right: 25px;
}

.top-bar__icon{
    padding-right: 10px;
}


@media screen and (min-width: 769px) and (max-width: 1200px) {

    .top-bar__content{

        width: 769px;
     
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .top-bar__content{

        width: 481px;
        height: auto;
        display: grid;
        grid-template-columns: auto auto;
     
    }
}
@media screen and (max-width: 480px) {

    .top-bar__content{

        padding-top: 10px;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
     
    }

    .top-bar__p--padding{
        align-self: center;
        justify-self: center;
    }

    .top-bar__icon{
        align-self: center;
        justify-self: center;
    }
}

