/* ================================================================================================ */
/* ================================================================================================ */
/*                                            NAVBAR                                                */

/* Width distribution (from left to right):

    At 1200px:
        nav-bar__logo:              270
        nav-bar__menu-container:    660
        nav-bar__side:              270

    At

*/

/* ----------------------------------------------------- */
/* NAV-BAR LAYOUT */

.nav-bar {
    background-color: white;
    position: relative;
    z-index: 3;
    
}

.nav-bar--border{

    border-bottom-style: solid;
    border-bottom-color: #b81d30;
    border-bottom-width: 3px;

}

.nav-bar__content {
    
    position: relative;
    width: 1200px;
    height: 115px;
    margin: auto;

}

.nav-bar__content--flex{

    display: flex;

}

.nav-bar__box-1 {
    width: 270px;
    height: inherit;
    
    display: flex;
    align-items: center;
}

.nav-bar__box-2{
    width: 660px;
    height: inherit;

    display: flex;
    align-items: flex-end;
}

.nav-bar__box-3 {
    width: 270px;
    height: inherit;

    display: flex;
    justify-content: space-between;
}

/* ----------------------------------------------------- */
/* NAV-BAR__LOGO */

.nav-bar__logo{
    width: 100%;
       
}

/* ----------------------------------------------------- */
/* NAV-BAR__MENU */

.nav-bar__menu{
    width: 100%;

    display: flex;
    justify-content: center;
}

.nav-bar__menu--border{
    border-top-style: solid;
    border-width: 1px;
    border-color: lightgray;

}

.nav-bar__menu__item{    

    margin: 0px 1em;

    text-align: center;
    padding: 14px 16px;

    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    color: darkred;
    text-decoration: none;

}

.nav-bar__menu__item--hover:hover{    
    color: darkred;
    text-decoration: underline;
}

.nav-bar__mobile-menu{
    display: none;
}

/* ----------------------------------------------------- */
/* NAV-BAR__PAOLA */

.nav-bar__presentation{
    
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}


.nav-bar__paola-img{

    margin-top: 5px;
    margin-bottom: 5px;

    clip-path: circle();
}


.nav-bar__presentation__header{

    width: 100%;
    margin: 10px 0px 0px 0px;
    
    border-bottom-style: solid;
    border-color: #292929;
    font-weight: bold;

}

.nav-bar__presentation__text{

    padding: 0 10px 0 10px;
    text-align: center;

}


/* ================================================================================================ */
/* ================================================================================================ */
/*                                          MEDIA QUERY                                             */
/* ================================================================================================ */
/* ================================================================================================ */

@media screen and (min-width: 769px) and (max-width: 1200px) {
    
    .nav-bar__content{
        
        width: 768px;
    }

    .nav-bar__box-1{
        width: 184px;
    }

    .nav-bar__box-2{
        width: 380px;
    }

    .nav-bar__box-3{
        width: 184px;
    }

    .nav-bar__menu__item{
        padding: 14px 0px;
    }


}
@media screen and (min-width: 481px) and (max-width: 768px) {

    .nav-bar__box-1{
        position: absolute;
    }

    .nav-bar__box-3{
        position: absolute;
        right: 0;
    }
}

@media screen and (max-width: 480px) {}

